@import "tailwindcss";

@theme {
  --color-primary-orange: #FF4D00;
  --color-primary-orange-hover: #E64500;
  --color-bg-darkest: #000000;
  --color-bg-dark: #0A0A0A;
  --color-surface-card: #111111;
  --color-surface-hover: #1A1A1A;
  --color-border-subtle: #222222;
  --color-text-main: #FFFFFF;
  --color-text-muted: #A1A1AA;
}

@layer base {
  body {
    background-color: var(--color-bg-darkest);
    color: var(--color-text-main);
  }
}
